/* ********** pages/_home.scss ********** */

.home {
	display: grid;
	max-width: 1200px;
	grid-template-columns: 60px 1fr 374px;
	overflow: hidden;
	margin: 45px auto 50px;
	position: relative;
	.main {
		.home-header {
			margin: 0 auto 12px;
			text-align: center;
			border-bottom: 1px solid $grey;

			.connection-form {
				padding: 20px;

				ul {
					display: flex;
					justify-content: center;
					margin-bottom: 18px;

					li {
						cursor: pointer;
						border-radius: 20px;
						padding: 12px 14px;
						transition: 0.2s;
						margin: 0 8px;
						color: $white;
					}
					.active-btn {
						background: $color-dark-2;

						&:hover {
							background: $color-3;
						}
					}
					li:not(.active-btn) {
						&:hover {
							transform: translateX(3px);
						}
					}
				}
				.password-container {
					position: relative;
					i {
						position: absolute;
						right: 10px;
						top: 34px;
					}
					
				}

				form {
					margin: auto;
					input {
						background-color: $color-dark-3;
						color: $white;
						padding: 10px 14px;
						margin: 0;
						font-size: 1.2rem;
						font-family: $font-2;
						border-radius: 20px;

						&:focus {
							box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
						}
					}
					input[type='submit'] {
						padding: 14px 14px;
						border-radius: 20px;
						background-color: $color-dark-2;
						&:hover {
							background-color: $color-3;
						}
					}
				}
			}
		}
	}
	.right-side {
		width: 100%;
		margin: 0px 0 0 14px;
		.right-side-container {
			position: fixed;
		}
	}
}
