/* ********** components/_newPostForm.scss ********** */

.post-container {
  margin: 0 auto 0;
  padding: 16px 40px;
  border-bottom: 2px solid $grey;
  position: relative;

  .user-info {
    margin-bottom: 10px;
    img {
      border-radius: 20px;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
    h3 {
      color: $white;
    }
  }
  .post-form {
    position: relative;
    margin: 0 auto 0;

    textarea {
      height: 62px;
      width: 100%;
      font-size: 1.4rem;
      padding: 12px 15px;
    }
    .card-container {
      border: 1px solid $grey;
      border-radius: 20px;
      .card-left {
        text-align: left;
      }
      .card-right {
        .content {
          padding: 6px 0;
          
          p {
            text-align: left;
            margin: 2px 0 6px;
            font-size: 1.1rem;
          }
          img {
            width: 100%;
            border-radius: 6px;
            margin-top: 12px;
          }
        }
      }
    }
    .footer-form {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;

      .icons {
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 20px;

        img {
          position: absolute;
          height: 24px;
          width: 24px;
          transform: translate(-18px, -1px);
        }

        input {
          width: 25px;
          height: 25px;
          position: absolute;
          transform: translate(-16px, -3px);
          opacity: 0;
          cursor: pointer;

          &::-webkit-file-upload-button {
            cursor: pointer;
          }
        }
      }
      p {
        font-family: $font-3;
        margin-top: 4px;
        color: red;
      }
      .btn-send {
        .cancel {
          border-radius: 20px;
          margin-right: 8px;
          background: $color-dark-2;

          &:hover {
            background: $color-dark-3;
          }
        }
        .send {
          &:hover {
            background: $color-dark-3;
          }
        }
      }
    }
  }
}