/* ********** components/_showTrend.scss ********** */

.showTrend {
	position: absolute;
	padding: 0;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	width: 200%;
	transform-origin: center;
	transform: scaleY(0);
	animation: scale 0.5s ease forwards;

	.fas {
		position: absolute;
		top: 15px;
		right: 20px;
		z-index: 1;
		color: $white;
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
			transition: 0.2s;
		}
	}
	.card-container {
		background-color: $color-dark-3;
		border-radius: 20px;
		overflow-y: scroll;
		height: 100% !important;
		.card-header {
			span {
				margin-top: 20px;
			}
		}
		.comment-container.client{
			background-color: $color-dark-4;
		}
	}
}
