/* ********** layout/_body.scss ********** */

body {
  font-family: $font-2;
  line-height: 1.4rem;
  background: $color-dark-1;
  color: $grey;
  position: relative;
}
.main{
  border-left: 2px solid $grey;
  border-right: 2px solid $grey;
}