@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(../assets/fonts/JosefinSans-Bold.ttf);
}